//- content-header.pug

div(class="page-header page-header-small")
  div(class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/storyBG.jpg')")
  div(class="content-center")
    div(class="container")
      h1 [Story]
      h2 Share whatever you want